@page
@model BWW.Pages.LoanCalculatorModel
@{
    ViewData["Title"] = "LoanCalculator";
}
<h3>Loan Calculator</h3>

<form method="post">
    <div>
        <label class="col-sm-2 col-form-label">Price:</label>
        <input asp-for="MyCarPrice" />
        <span asp-validation-for="MyCarPrice" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">COE:</label>
        <input asp-for="MyCOE" />
        <span asp-validation-for="MyCOE" class="text-danger"></span>
    </div>
    <div>
        <label class="col-sm-2 col-form-label">Down Payment:</label>
        <input asp-for="MyDownPayment" />
        <span asp-validation-for="MyDownPayment" class="text-danger"></span>
        <input type="submit" value="Calculate" class="btn btn-primary" />

    </div>
    <div>
        <label class="col-form-label text-danger">@Model.MyErrMsg</label>

    </div>

    @{
        if (@Model.MyLoanAmt > 0)
        {
        <div class="card-group">

            @foreach (var item in Model.MyInstalmentList)
            {
                <div class="col-sm-4"> 
                <div class="card text-dark ">
                    <div class="card-body ">
                        <h4>
                            <i class="bi bi-cash-coin text-left" style="font-size: 2rem; color: cornflowerblue;"></i>
                            <span class="card-title">@item.Term Years</span>
                        </h4>
                        <ul class="list-inline">
                            <li class="list-inline-item text-info" style="width: 30%"> Loan </li>
                            <li class="list-inline-item text-info" style="width: 30%">Instalment  </li>
                            <li class="list-inline-item text-info" style="width: 30%">Loan Rate</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item" style="width: 30%">@item.LoanAmt.ToString("C")</li>
                            <li class="list-inline-item" style="width: 30%">@item.InstalmentAmt.ToString("C")</li>
                            <li class="list-inline-item" style="width: 30%">@item.Rate% </li>
                        </ul>
                    </div>
                    <div class="card-footer">

                        <a asp-page="/Apply" class="btn btn-primary" asp-route-term="@item.Term"
                           asp-route-loanamt="@item.LoanAmt">Apply</a>
                    </div>
                </div>
                </div> 
            }
        </div>
        }
    }
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}